.imgCarousal {
  margin: 70px;
}
.imgListWrapper li {
  display: inline-block;
  font-family: Poppins, "sans-serif";
  font-size: 18px;
  margin-right: 70px;
  cursor: pointer;
  position: relative;
}
.imgListWrapper li:active,
.imgListWrapper li:focus,
.imgListWrapper li:checked,
.imgListWrapper li:hover {
  font-weight: 500;
  color: #ca0fae;
}
.imgListWrapper li:hover::after {
  content: "";
  width: 54px;
  height: 2px;
  background-color: #ca0fae;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -5px;
}
.imgListWrapper a {
  text-decoration: none;
  padding: 10px;
  background-color: #ca0fae;
  color: white;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 500;
  border-bottom: none;
}
.imgListWrapper a:hover {
  color: #ca0fae;
  border: 1px dashed #ca0fae;
  background-color: transparent;
}
.choose {
  font-family: Poppins, "sans-serif";
}
.chooseWrap {
  margin: 50px;
}
.chooseWrap h2 {
  text-align: center;
}
.chooseWrapContent h4 {
  font-weight: 500;
  font-size: 16px;
  padding: 30px 0;
}
.chooseWrapContent p {
  color: #808080;
}
.chooseWrapContent img {
  text-align: center;
  margin: auto;
}
.slick-slide img {
  margin: auto;
}
