.card {
  width: 265px;
  padding: 20px 0;
  margin-left: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 20px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  text-align: left;
}
.card .imgWrap{
  text-align: center;
}
.card:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card h4 {
  margin-top: 7px;
  font-family: Poppins, "sans-serif";
  font-weight: light;
  font-size: 16px;
}
.card h3 {
  font-family: Poppins, "sans-serif";
  font-weight: regular;
  font-size: 20px;
}
.card:hover > .contentWrap h3 {
  color: red;
}
.card:hover > .roundPercentage {
  display: block;
  top: 30px;
  left: 10px;
  transition: all 1.3s;
}
.roundPercentage {
  position: absolute;
  top: -90px;
  left: 10px;
  background-color: red;
  padding: 7px 14px 5px;
  border-radius: 21px;
  transition: all 1.3s;
  text-align: center;
  /* z-index: -10; */
  /* width: 50px;
  height: 50px; */
}

.roundPercentage h3 {
  padding-top: 5px;
  color: white;
}
.card img{
  height: 315px;
  width: 300px;

}

.buttonWrap{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;

}


/* CSS */
.actionBtn {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  padding: 10px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;

  margin: 0;
  min-height: 3rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  border-radius: 15px;
  /* background-color: #CA0FAE;
  color: white; */
}

.actionBtn:hover,
.actionBtn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.actionBtn:hover {
  transform: translateY(-1px);
}

.actionBtn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}