.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
.nav_link:hover {
  color: purple;
  border-bottom: 2px solid purple;
}
.nav_link {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 10px;
}
